
* {
  color: #333;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}
.navbar{
  display:flex;
  padding: 20px;
  align-items: center;
  max-width: 600px;
  margin: 0, auto;
  border-bottom: 1px solid #f3f3f3;
}
.navbar h1 {
  color: red;
}
.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  padding: 8px;
  text-decoration: none;
}
.navbar a:hover {
  color: red;
}

.content {
  max-width: 600px;
  margin: 60px,auto;
  padding: 20px;
}
.home {
  max-width: 600px;
  margin: 60px,auto;
  padding: 20px;
}

.blog-preview {
  margin: 20px 0;
  padding: 10px 16px;
  border-bottom: 1px solid #fafafa;

}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgb(0, 0, 0.1);
}

.blog-preview h2 {
  color: red;
  font-size: 20px;
  margin-bottom: 8px;
}